PyYAML
pre-commit
black
flake8
flake8-docstrings
isort
pep8-naming
pydantic==2.5.2
scipy==1.11.4
matplotlib
pillow>=10.3.0
pyserial==3.5
pandas==2.0.3
plotly==5.22.0
pandas==2.0.3
chart-studio==1.1.0
matplotlib==3.7.5
nbformat==5.10.4
psutil
